<nz-table #listIssue [nzData]="listOfIssue" [nzFrontPagination]="true"
          [nzPageSize]="pageSize" [nzPageIndex]="curPage" [nzLoading]="false">
  <thead>
  <tr>
    <th>Id</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Opération</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let issue of listIssue.data; let i = index; trackBy: trackByUserId">
    <td>{{ issue.id }}</td>
    <td>{{ issue.title }}</td>
    <td>{{ issue.description }}</td>
    <td>
      <a (click)="showModal(issue.id)">Chiffrer</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Chiffrage"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          nzOkText="Confrimer"
          nzCancelText="Annuler">
  <ng-container *nzModalContent>
    <p>Merci de respecter la règle du gitlab.</p>
    <p>Exemple: 1w1d2h (1 week 1 day 2 hour)</p>
    <label>
      <input nz-input placeholder="Exemple: 1w3d4h" [(ngModel)]="chiffrement" nzHasFeedback/>
    </label>
  </ng-container>
</nz-modal>
