<div class="login-wrapper" nz-row nzJustify="space-around" nzAlign="middle">
<form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="username" placeholder="Nom d'utilisateur" />
      </nz-input-group>
      <ng-template #combineTpl let-control>
        <ng-container *ngIf="control.hasError('maxlength')">La taille maximum est 12! </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">La taille minimum est 3! </ng-container>
        <ng-container *ngIf="control.hasError('required')">Veuillez saisir votre nom! </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="pass">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Mot de passe" />
      </nz-input-group>
      <ng-template #pass let-control>
        <ng-container *ngIf="control.hasError('pattern')">Le mot de passe doit combiner par les chiffres et charactères!</ng-container>
        <ng-container *ngIf="control.hasError('required')">Veuillez saisir votre nom!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="18">
      <a (click)="showRegisterForm()">S'inscrire!</a>
    </div>
  </div>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Se connecter</button>
</form>
</div>
<nz-modal [(nzVisible)]="isVisible"
          nzTitle="Inscription" (nzOnCancel)="CancelRegister()"
          (nzOnOk)="register()"
          nzOkText="Confirmer"
          nzCancelText="Annuler">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="userAddForm" (ngSubmit)="submitForm()">
      <!--username -->
      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzFor="username"
          nzRequired
        >
          <span>Nom</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez saisir votre nom!" nzHasFeedback>
          <input nz-input id="username" formControlName="username" />
        </nz-form-control>
      </nz-form-item>
      <!--email -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Le format n'est pas valide!" nzHasFeedback>
          <input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>
      <!--password -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Mot de passe</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veulliez saisir votre mot de passe!">
          <input
            nz-input
            type="password"
            id="password"
            formControlName="password"
            (ngModelChange)="updateConfirmValidator()"
          />
        </nz-form-control>
      </nz-form-item>
      <!--confirm password -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirmer</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
          <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Veuillez comfirmer votre mot de passe!</ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Vérifier votre mot de passe!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
