<nz-table
  #listUser [nzData]="listOfUser" [nzFrontPagination]="true"
  [nzPageSize]="pageSize" [nzPageIndex]="curPage"
  [nzLoading]="false" [hidden] = "showFlag">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Mail</th>
    <th>Rôle</th>
    <th>Opération</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of listUser.data; let i = index; trackBy: trackByUserId">
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role === 1 ? 'Administrateur' : 'Utilisateur'}}</td>
    <td>
      <a (click)="showModal(user.username)">Voir ses issues</a>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Chiffrage" (nzOnCancel)="handleModifierCancel()" (nzOnOk)="handleModifierOk()" nzOkText="Confrim"
          nzCancelText="Exit">
  <ng-container *nzModalContent>
    <nz-table #listIssue [nzData]="listOfIssue" [nzFrontPagination]="true"
              [nzPageSize]="pageSize" [nzPageIndex]="curPage" [nzLoading]="false">
      <thead>
      <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Temps estimé</th>
        <th>Validation</th>
        <th>Temps modifié</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let issue of listIssue.data; let i = index">
        <td>{{ issue.id }}</td>
        <td>{{ issue.title }}</td>
        <td>{{ issue.humanTimeEstimate }}</td>
        <td>{{ issue.updated === 1 ? 'Valid' : 'Non'}} </td>
        <td>{{ issue.time }}</td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>

<nz-table #listIssue [nzData]="listOfIssue" [nzFrontPagination]="true"
          [nzPageSize]="pageSize" [nzPageIndex]="curPage"
          [nzLoading]="false" [hidden]="!showFlag">
  <thead>
  <tr>
    <th>Id</th>
    <th>Titre</th>
    <th>Temps estimé</th>
    <th>Validation</th>
    <th>Temps modifié</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let issue of listIssue.data; let i = index">
    <td>{{ issue.id }}</td>
    <td>{{ issue.title }}</td>
    <td>{{ issue.humanTimeEstimate }}</td>
    <td>{{ issue.updated === 1 ? 'Valid' : 'Non'}} </td>
    <td>{{ issue.time }}</td>
  </tr>
  </tbody>
</nz-table>
