<!--<div [hidden]="!showFlag">
  <nz-table #listIssue [nzData]="listOfIssue" [nzFrontPagination]="true"
            [nzPageSize]="pageSize" [nzPageIndex]="curPage" [nzLoading]="false">
    <thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Temps estimé</th>
      <th>Temps modifié</th>
      <th>Validation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let issue of listIssue.data; let i = index; trackBy: trackByUserId">
      <td>{{ issue.id }}</td>
      <td>{{ issue.title }}</td>
      <td>{{ issue.humanTimeEstimate }}</td>
      <td>{{ issue.time }}</td>
      <td>{{ issue.updated === 1 ? 'Valid' : 'Non'}} </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isVisible"
            nzTitle="Chiffrage"
            (nzOnCancel)="handleModifierCancel()"
            (nzOnOk)="handleModifierOk()"
            nzOkText="Confrimer"
            nzCancelText="Annuler">
    <ng-container *nzModalContent>
      <label>
        <input nz-input placeholder="1d3h" [(ngModel)]="chiffrement" nzHasFeedback/>
      </label>
    </ng-container>
  </nz-modal>
</div>
-->


  <nz-table #listIssue [nzData]="listOfIssue" [nzFrontPagination]="true"
            [nzPageSize]="pageSize" [nzPageIndex]="curPage" [nzLoading]="false">
    <thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Temps estimé</th>
      <th>Temps modifié</th>
      <th>Editeur</th>
      <th>Validation</th>
      <th>Opération</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let issue of listIssue.data; let i = index; trackBy: trackByUserId">
      <td>{{ issue.id }}</td>
      <td>{{ issue.title }}</td>
      <td>{{ issue.humanTimeEstimate }}</td>
      <td>{{ issue.time }}</td>
      <td>{{ issue.editor}}</td>
      <td>{{ issue.updated === 1 ? 'Valid' : 'Non'}} </td>
      <td>
        <a (click)="showModal(issue.id, issue.updated)">Modifier</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-popconfirm
          nzPopconfirmTitle="Vous êtes sûr?"
          nzOkText="Valider"
          nzCancelText="Annuler"
          (nzOnConfirm)="handleValid(issue.id, issue.updated)"
          (nzOnCancel)="handleValidCan()"
        >Valider</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isVisible"
            nzTitle="Chiffrage"
            (nzOnCancel)="handleModifierCancel()"
            (nzOnOk)="handleModifierOk()"
            nzOkText="Confrimer"
            nzCancelText="Annuler">
    <ng-container *nzModalContent>
      <p>Merci de respecter la règle du gitlab.</p>
      <p>Exemple: 1w1d2h (1 week 1 day 2 hour)</p>
      <label>
        <input nz-input placeholder="1d3h" [(ngModel)]="chiffrement" nzHasFeedback/>
      </label>
    </ng-container>
  </nz-modal>

